{% extends "base.html" %}

{% block title %}{{ _('Reset hesla | EduForum') }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4 text-center">{{_('Obnoviť heslo')}}</h2>
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
        <label for="password" class="form-label">{{ _('Nové heslo') }}</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label">{{ _('Potvrď nové heslo') }}</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">{{ _('Zmeniť heslo') }}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
